@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root{
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

body{
    background-color: var(--dark-blue);
}

#main-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--dark-grayish-blue);
    height: 40%;
    width: 35%;
    border-radius: 10px;
}

h3{
    color: var(--neon-green);
    text-align: center;
    margin-top: 7%;
    letter-spacing: 5px;
}

p{
    color: var(--light-cyan);
    font-size: 28px;
    text-align: center;
    margin-top: 10%;
    margin-left: 30px;
    width: 90%;
}

#dice{
    background-color: var(--neon-green);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

#divider{
    margin-left: 18%;
    margin-top: 10%;
}